<a href="https://colab.research.google.com/github/JoaoDaross/Python_Investimentos/blob/master/Investimentos_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importando biblioteca

In [ ]:
import pandas as pd

# Obtendo dados através da API do Banco Central do Brasil

In [ ]:
def consulta_bc(codigo_bcb):
  url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.{}/dados?formato=json'.format(codigo_bcb)
  df = pd.read_json(url)
  df['data'] = pd.to_datetime(df['data'], dayfirst=True)
  df.set_index('data' , inplace=True)
  return df

In [ ]:
ipca = consulta_bc(433)

In [ ]:
ipca

            valor
data
1980-01-01   6.62
1980-02-01   4.62
1980-03-01   6.04
1980-04-01   5.29
1980-05-01   5.70
...           ...
2020-04-01  -0.31
2020-05-01  -0.38
2020-06-01   0.26
2020-07-01   0.36
2020-08-01   0.24

[488 rows x 1 columns]